<strong>Navigaion</strong><br/>
<ul class="navlinks" >
  <li><a href="index.html">Home</a></li>
  <li><a href="http://libxml.rubyforge.org/rdoc/index.html">API Docs</a></li>
  <li><a href="http://github.com/xml4r/libxml-ruby">Source</a></li>
  <li><a href="http://rubyforge.org/mail/?group_id=494">Mailing List</a></li>
  <li><a href="http://groups.google.com/group/libxml-devel">Google Group</a></li>
  <li><a href="http://github.com/xml4r/libxml-ruby/issues">Issues</a></li>
  <li><a href="license.html">License</a></li>
  <li><a href="http://xmlsoft.org/">Libxml2 project</a></li>
</ul>
