<ul class="navlinks" >
    <strong>Development</strong><br/>
    <li><a href="index.html">Home</a></li>
    <li><a href="installation.html">Installation</a></li>
    <li><a href="rdoc/index.html">API Docs</a></li>
    <li><a href="http://github.com/xml4r/libxml-ruby">Source</a></li>
    <li><a href="http://rubyforge.org/mail/?group_id=494">libxml-devel</a></li>
    <li><a href="http://github.com/xml4r/libxml-ruby/issues">Issues</a></li>
    <li><a href="license.html">License</a></li>
    <br/>
    <strong>External</strong><br/>
    <li><a href="http://rubyforge.org/projects/libxml">Rubyforge</a></li>
    <li><a href="http://rubyforge.org/forum/?group_id=494">Forums</a></li>
    <li><a href="http://rubyforge.org/news/?group_id=494">News</a></li>
    <li><a href="http://rubyforge.org/frs/?group_id=494">Files</a></li>
    <li><a href="http://groups.google.com/group/libxml-devel">List on Google</a></li>         
    <li><a href="http://xmlsoft.org/">Libxml2 project</a></li>
    <br/>
    <strong>Tutorials</strong><br/>
    <li><a href="http://anurag-priyam.blogspot.com/2010/05/ruby-libxml-tutorial-reader-api.html">Streaming API</a></li>
    <li><a href="http://anurag-priyam.blogspot.com/2010/05/ruby-libxml-tutorial-writing-xml.html">Generating XML Documents</a></li>
</ul>
