<strong>Navigation</strong><br/>
<ul class="navlinks" >
  <li><a href="index.html">Home</a></li>
  <li><a href="rdoc/index.html">API Docs</a></li>
  <li><a href="https://github.com/xml4r/libxml-ruby">Source</a></li>
  <li><a href="https://groups.google.com/forum/?fromgroups#!forum/libxml-devel">Google Group</a></li>
  <li><a href="https://github.com/xml4r/libxml-ruby/issues">Issues</a></li>
  <li><a href="license.html">License</a></li>
  <li><a href="http://xmlsoft.org/">Libxml2 project</a></li>
</ul>
